.parteverde {
  background-color: #8CB27C;
  height: 405px;
  width: 805px;
}

.borde {
  border: 3px white solid;
  bottom: 24.7em;
  height: 380px;
  left: 0.5em;
  position: relative;
  width: 780px;
}

.arcoleft {
  border: 3px white solid;
  bottom: 660px;
  height: 145px;
  left: 0.5em;
  position: relative;
  width: 70px;
}

.arcorigth {
  border: 3px white solid;
  bottom: 818px;
  height: 145px;
  left: 718px;
  position: relative;
  width: 70px;
}

.center {
  background: #8CB27C;
  border: 3px white solid;
  border-radius: 200px 200px 200px 200px;
  position: relative;
  bottom: 965px;
  height: 140px;
  left: 340px;
  width: 140px;
}

.ball2 {
  background-image: url("../assets/images/pelota.png");
  border-radius: 200px 200px 200px 200px;
  bottom: 1105px;
  height: 50px;
  left: 45px;
  position: relative;
  width: 50px;
}

.ball3 {
  position: relative;
  background-image: url("../assets/images/pelota.png");
  border-radius: 200px 200px 200px 200px;
  bottom: 1237px;
  height: 50px;
  left: 423px;
  width: 50px;
}

.ball4 {
  background-image: url("../assets/images/pelota.png");
  border-radius: 200px 200px 200px 200px;
  bottom: 1140px;
  height: 50px;
  left: 658px;
  position: relative;
  width: 50px;
}
